<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Didact+Gothic&display=swap');
    </style>


<div class="form-container" [style.width]="width" [style.height]="height">
  <div>
    <form action="/action_page.php">
      <label for="iName" class="form-font">Ingredient  </label>
      <input type="text" id="iName" name="iName" value="John"><br><br>
  
      <label for="category" class="form-font">Category  </label>
      <input type="text" id="category" name="category" value=""><br><br>
  
      <label for="purchased" class="form-font">Date purchased  </label>
      <input type="date" id="purchased" name="purchased" value=""><br><br>
  
      <input class="submitButton" type="submit" value="Submit">
    </form>
  </div>
</div>