.form-container {
    border-radius: 25px;
    background: #b5cf91;
    padding: 50px;
    margin: 50px;
  }

  .submitButton {
      border-radius: 5px;
      background: rgb(89, 107, 66);
      background-blend-mode: multiply;
      color: whitesmoke;
      font-family: 'Comfortaa', cursive;
      font-family: 'Didact Gothic', sans-serif;
  }

  .form-font {
    font-family: 'Comfortaa', cursive;
    font-family: 'Didact Gothic', sans-serif;
    color: rgb(34, 39, 28)
  }

  h2 {
    font-family: 'Comfortaa';
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
  }

  input {
      width: 175px;
  }

  

