<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Didact+Gothic&display=swap');
    </style>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
    </style>


<div [style.width]="width" [style.height]="height">
  <div>
    <h2>add an ingredient to your pantry</h2><br><br>
    <form>

      <div class="right-div">
        Ingredient
        <input type="text" id="iName" name="iName" placeholder="e.g. Tomatoes">
      </div><br>
  
      <div>
        Category
        <input type="text" id="category" name="category" placeholder="e.g. Produce, Dairy, etc">
      </div><br>

      <div>
        Date Purchased
        <input type="date" id="purchased" name="purchased" value=""><br><br><br>
      </div>
  
      <input class="submitButton" type="submit" value="      Add Food      " style="margin: 0 auto; display: flex;">
    </form>
  </div>
</div>