<app-nav-bar></app-nav-bar>
<br/>
<div class = "container">
<div class="columns" style="columns: 1">
    <div class="center-block">
        <image-carousel [width]="divWidth" [recipes]="recipes"></image-carousel>
    </div>
</div>
<div class="columns">
    <div class="center-block">
        <manual-form class="form-container"></manual-form>
        <form-entry-card [height]="cardHeight" [width]="cardWidth" [ingredients]="ingredients"></form-entry-card>
    </div>
</div>
</div>


<!-- <ul>
    <li *ngFor="let recipe of recipes">
        <p>Label : {{ recipe.label }}</p>
        <p>Image : {{ recipe.image }}</p>
        <p>Link  : {{ recipe.link }}</p>
        <ol>
            <li *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient }}
            </li>
        </ol>
    </li>
</ul> -->
