<ingredient-tile *ngFor="let ingredient of ingredients" [ingredient]="ingredient.info" [datePurchased]="ingredient.date"></ingredient-tile>
<div class="columns" style="columns: 1">
    <div class="center-block">
        <image-carousel [width]="divWidth" [height]="cardHeight" [recipes]="recipes"></image-carousel>
    </div>
</div>
<div class="columns">
    <div class="center-block">
        <manual-form [height]="cardHeight" [width]="cardWidth"></manual-form>
        <form-entry-card [height]="cardHeight" [width]="cardWidth"></form-entry-card>
    </div>
</div>


<!-- <ul>
    <li *ngFor="let recipe of recipes">
        <p>Label : {{ recipe.label }}</p>
        <p>Image : {{ recipe.image }}</p>
        <p>Link  : {{ recipe.link }}</p>
        <ol>
            <li *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient }}
            </li>
        </ol>
    </li>
</ul> -->
