  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#inventory">Inventory</a></li>
      <li><a href="#contact">Contact</a></li>

      <li style="float:right">
      <label class="container">Vegan
        <input type="checkbox" checked="checked">
      </label>
      </li>

      <li style="float:right">
      <label class="container">Vegetarian
        <input type="checkbox">
      </label>
      </li>

      <li style="float:right">
      <label class="container">Gluten-free
        <input type="checkbox">
      </label>
      </li>

      <li style="float:right">
    <a href="#">Dietary restrictions: </a></li>

  </ul>
</nav>


