<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
    </style>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Didact+Gothic&display=swap');
    </style>
  
  <nav>
    <ul>
      <li><a class="title" label="#home">digestible</a></li>
      <li><a class="subtitle" label="#inventory">Reduce your waste, not your taste!</a></li>

      <li style="float:right">
      <label class="container">Vegan
        <input type="checkbox">
      </label>
      </li>

      <li style="float:right">
      <label class="container">Vegetarian
        <input type="checkbox">
      </label>
      </li>

      <li style="float:right">
      <label class="container">Gluten-free
        <input type="checkbox">
      </label>
      </li>

      <li style="float:right">
    <label class="container">Choose your diet: </label></li>

  </ul>
</nav>


