.box-tasvir {
    overflow: hidden;
    height: 320px;
    /* width: 320px; */
    position: relative;
    margin: 0 auto;
}
@keyframes masihscroll {
    0% {transform: translateY(0%);}
    50% {transform: translateY(-50%);}
    100% {transform: translateY(-0%);}
}
.box-tasvir img {
    width: 100%;
    height: auto;
    max-width: 100%;
    transition: all 8s;
    animation-duration: 30s;
    animation-name: masihscroll;
    animation-iteration-count: 1000;
}

::ng-deep .carousel-item {
    transition-duration: 2000ms;
  }

  ::ng-deep .carousel-inner .sr-only {
    display: none;
 }

 .carousel-inner>.item {
    -webkit-transition: -webkit-transform 1.5s ease-in-out !important;
    -o-transition: -o-transform 1.5s ease-in-out !important;
    transition: transform 1.5s ease-in-out !important;
}

div {
    border-radius: 50px;
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    pointer-events: none;

    width: 40ch;
    text-align: center;
    margin: 0 auto;

    text-shadow: 2px 2px #687753;
    font-family: 'Comfortaa';
    color: #faf5f0;
}

h3 {
    font-size: 55px;
    text-shadow: 5px 5px #687753;
    font-family: 'Comfortaa';
    font-weight: 900;
    color: #faf5f0;
    pointer-events: none;
}